version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "julia" # Specifies the Julia package manager
    directory: "/" # Location of the Project.toml and Manifest.toml files
    schedule:
      interval: "monthly" # How often to check for updates
