*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml
Project.toml
.vscode/extensions.json
docs/build/
*.swp
.vscode/launch.json
.vscode/settings.json
test/testsave.h5
testsave.h5
notebooks/.ipynb_checkpoints
paper/paper.pdf
paper/paper.jats
paper/jats/paper.jats
paper/jats/paper.png
