*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
notebooks/.ipynb_checkpoints/
Manifest.toml
*.swp
docs/build/
docs/src/examples/
docs/src/notebooks/
examples/reference.jld
test/problem1.jld
examples/.ipynb_checkpoints/minimal_pierre-checkpoint.jl
WWvsXX.gif
WWvsXX.pdf
anim.gif
WWvsXX.pdf
testsave.jld
notebooks/tmp.gif
notebooks/anim.gif
notebooks/tmp.gif
